
// --- 1
@import "compass/typography/vertical_rhythm";

$base-font-size: 12px;
$base-line-height: 18px;

@include establish-baseline;

// --- 2
body{
  background-image: url(data:image/gif;base64,R0lGODlhBQASAIAAAN3d3f///yH5BAAAAAAALAAAAAAFABIAAAIKjI+py+0PF5izAAA7);
}

// --- 3
body,div,h1,h2,h3,h4,h5,p,pre {
  margin: 0;
  padding: 0;
}

body {
  margin: rhythm(1);
}

p {
  margin-bottom: rhythm(1);
}

// --- 4
h1 {
  @include adjust-font-size-to(24px);
}

h2 {
  @include adjust-font-size-to(18px);
}

h3 {
  @include adjust-font-size-to(13px);
}