/* line 61, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 75%;
}

/* line 64, ../../../../../.rvm/gems/ruby-2.1.2/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 12px;
  line-height: 1.5em;
}

/* line 17, style.scss */
body, div, h1, h2, h3, h4, h5, p, pre, ul {
  margin: 0;
  padding: 0;
}

/* line 23, style.scss */
body {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.1)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% 1.5em;
  -moz-background-size: 100% 1.5em;
  -o-background-size: 100% 1.5em;
  background-size: 100% 1.5em;
  background-position: left top;
  margin: 1.5em auto;
  max-width: 800px;
}

/* line 31, style.scss */
h1 {
  font-size: 2em;
  line-height: 1.5em;
}

/* line 35, style.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 39, style.scss */
small {
  font-size: 0.83333em;
  line-height: 1.8em;
}

/* line 44, style.scss */
.u-rhythmTop {
  padding-top: 0.75em;
}

/* line 47, style.scss */
.u-rhythmTop-1 {
  padding-top: 1.5em;
}

/* line 50, style.scss */
.u-rhythmTop-2 {
  padding-top: 3em;
}

/* line 53, style.scss */
.u-rhythmTop-3 {
  padding-top: 4.5em;
}

/* line 57, style.scss */
.u-rhythmBottom {
  margin-bottom: 0.75em;
}

/* line 60, style.scss */
.u-rhythmBottom-1 {
  margin-bottom: 1.5em;
}

/* line 63, style.scss */
.u-rhythmBottom-2 {
  margin-bottom: 3em;
}

/* line 66, style.scss */
.u-rhythmBottom-3 {
  margin-bottom: 4.5em;
}

/* line 73, style.scss */
.u-reset:before, .u-reset:after {
  content: " ";
  display: table;
}
/* line 77, style.scss */
.u-reset:after {
  clear: both;
}
